webServiceKlient/webServiceKlient/Service References/serwisy/Modify.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Modyfikacja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tekst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModyfikacjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModyfikacjaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dodawanie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DodawanieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DodawanieResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ModyfikacjaSoapIn">
    <wsdl:part name="parameters" element="tns:Modyfikacja" />
  </wsdl:message>
  <wsdl:message name="ModyfikacjaSoapOut">
    <wsdl:part name="parameters" element="tns:ModyfikacjaResponse" />
  </wsdl:message>
  <wsdl:message name="DodawanieSoapIn">
    <wsdl:part name="parameters" element="tns:Dodawanie" />
  </wsdl:message>
  <wsdl:message name="DodawanieSoapOut">
    <wsdl:part name="parameters" element="tns:DodawanieResponse" />
  </wsdl:message>
  <wsdl:portType name="ModifySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Modyfikacja">
      <wsdl:input message="tns:ModyfikacjaSoapIn" />
      <wsdl:output message="tns:ModyfikacjaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dodawanie">
      <wsdl:input message="tns:DodawanieSoapIn" />
      <wsdl:output message="tns:DodawanieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModifySoap" type="tns:ModifySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modyfikacja">
      <soap:operation soapAction="http://tempuri.org/Modyfikacja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dodawanie">
      <soap:operation soapAction="http://tempuri.org/Dodawanie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ModifySoap12" type="tns:ModifySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modyfikacja">
      <soap12:operation soapAction="http://tempuri.org/Modyfikacja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dodawanie">
      <soap12:operation soapAction="http://tempuri.org/Dodawanie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Modify">
    <wsdl:port name="ModifySoap" binding="tns:ModifySoap">
      <soap:address location="http://localhost:53739/Modify.asmx" />
    </wsdl:port>
    <wsdl:port name="ModifySoap12" binding="tns:ModifySoap12">
      <soap12:address location="http://localhost:53739/Modify.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>